table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}

th,
tr {
  padding-top: 20px;
  border-bottom: 1px solid #000000;
  display: flex;
  width: 100%;
  align-items: center;
}

td {
  flex: 1 1 33%;
}
/* td i {
  color: aqua;
} */
